* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/mon_histoire/background.png);
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  
}

.container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* coin gauche - centre - coin droit */
}

.imgcoin,
.imgcoin1 {
  width: 100px; /* fixe ou responsive */
  display: flex;
  align-items: flex-start;
  
}

.imgcoin {
  transform: scaleX(-1); /* miroir horizontal */
}

.lien {
    width: 100%;
  
  display: flex;
  justify-content: center;
}

.lien ul {
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-right: 5%;
  font-family: 'Passion One', cursive;
  font-size: 1.8rem;
  white-space: nowrap;
}

.lien ul li a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.icon{
    position: absolute;
    right: 10%;
    width: 10%;
    margin-top: 6.5%;
    display: flex;
    justify-content: center;
    gap: 15%;
}

/* ----------Section1---------- */

.section1{
  width: 100%;
  height: 800px;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section1_div1{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

.section1_div1 img{
  width: 50%;
}

.section1 h1{
  font-family: 'Passion One';
  font-size: 60px;
  color: #371708;
  font-weight: lighter;
  margin-bottom: 5%;
  text-shadow: 1px 10px 10px #8c8b8b;
}

.section1_div1 p{
  width: 70%;
  text-align: center;
  font-family: 'Poly';
  font-size: 22px;
}

/* -------section2------- */

.section2{
  width: 100%;
  height: 700px;
  margin-top: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}

.section2 h1{
  font-family: 'Passion One';
  color: #371708;
  font-size: 60px;
   text-shadow: 1px 10px 10px #8c8b8b;
}

.section2 p{
  font-size: 25px;
  font-family: 'Poly';
}

.section2_text{
  text-align: center;
}

/* ------section3------ */

.section3{
  width: 100%;
  height: 900px;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
}

.section3_text{
  font-size: 25px;
  font-family: 'Poly';
  text-align: center;
}

/* ------section4------ */

.section4{
  width: 100%;
  height: 300px;
  margin-top: 8%;
  background-color: #D15903;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4_div{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10%;
  font-family: 'Passion One';
}

.section4_div h1{
  font-size: 50px;
}

.section4_div h3{
  font-size: 25px;
}

.section4_div a{
  width: 15%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F6A605;
  text-decoration: none;
  color: white;
  border-radius: 15px;
  font-size: 25px;
}

.section4_img1{
  position: relative;
  bottom: 60%;
}

.section4_img2{
  position: relative;
  top: 50%;
}

/* ------------footer--------------- */

footer{
  width: 100%;
  height: 700px;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Passion One';
  color: #371708;
}

.text4{
  width: 100%;
  height: 50px;
  margin-top: 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
  font-family: 'Poly';
  color: #371708;
}

.text4 input{
  width: 10%;
  height: 40px;
  border-radius: 10px;
}

.text4 input::placeholder{
color: black;
}

.elements{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  gap: 8%;
}

.logo img{
  margin-top: 5%;
  width: 150%;
}

.icon_reseau{
  display: flex;
  justify-content: center;
  gap: 10%;
}

.liens_reseaux ul li {
  list-style: none;
  margin-bottom: 30px;
}

.liens_reseaux ul li a{
  text-decoration: none;
  font-size: 25px;
  color: #371708;
}

.div_footer3 h4{
  font-size: 20px;
}