* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/description_plat/background.png);
  background-size: cover;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  
}

.container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; /* coin gauche - centre - coin droit */
}

.imgcoin,
.imgcoin1 {
  width: 100px; /* fixe ou responsive */
  display: flex;
  align-items: flex-start;
  
}

.imgcoin {
  transform: scaleX(-1); /* miroir horizontal */
}

.lien {
    width: 100%;
  
  display: flex;
  justify-content: center;
}

.lien ul {
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  margin-right: 5%;
  font-family: 'Passion One', cursive;
  font-size: 1.8rem;
  white-space: nowrap;
}

.lien ul li a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

.icon{
    position: absolute;
    right: 10%;
    width: 10%;
    margin-top: 6.5%;
    display: flex;
    justify-content: center;
    gap: 15%;
}


/* ---------section1------------ */

.section1{
  width: 100%;
  height: 2200px;
  margin-top: 10%;
  }

  .titre{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poly', sans-serif;
    font-size: 25px;
    color: #953910;
  }

  .img_plat{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/description_plat/cercle_img.png);
    background-repeat: no-repeat;
    background-position: center;
}

.img_plat img{
  width: 29%;
  position: relative;
  top: 3.2%;
  left: 0.5%
}

.texte{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poly', sans-serif;
  font-size: 20px;
  color: #953910;
}

.button{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button{
  width: 200px;
  height: 50px;
  background-color: #F6A605;
  color: white;
  font-family: 'Passion one', cursive;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.titre2{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poly', sans-serif;
    font-size: 20px;
    color: #953910;
}

.liste_ingredients{
  width: 100%;
  height: 300px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poly', sans-serif;
  font-size: 25px;
  color: #953910;
}

.texte3{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
      font-family: 'Poly', sans-serif;
    font-size: 20px;
    color: #953910;
}



